@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    height: 100%;
    margin:0;
   
}

h1{
  font-family: 'Roboto', sans-serif;
}

/* header*/
.page__header{
    
    height: 100vh;

    
}


/*STICKY NAV*/

  
  /* applied after scroll height reached */
  .fixed-nav .navbar__menu {
    position: fixed;
    top:0;
    z-index: 1;
  }
/* Navigation Styles*/

.navbar__menu ul {
    background-color: #e7e7ec;

    display: grid;
    grid-template-columns: repeat(18,4.7rem);
    grid-auto-rows: minmax(1rem,2rem);
    grid-template-areas:
    "lg lg lg g g g c1 c1 c2 c2 c3 c3 ah ah ah ab ab"
    ;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    text-align: left;
    margin-right: 0;
    
}
 
.navbar__menu li {
  font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    padding:.7rem ;
    cursor: pointer;
    
}

#logo{
  align-items: center;
  grid-area: lg;
  grid-area: 1/2/4/3;
  margin-left: 80px;
}

#logo-img{
  max-width: 230px;
}
#logo-img:hover{
  opacity: .7;
  

}
#services{
    grid-area: c1;
    grid-area: 2/6/2/8;
    align-items: center;
}
#products{
    grid-area: c2;
    grid-area: 2/8/2/10;
    align-items: center;
}
#business{
    grid-area: c3;
    grid-area: 2/10/2/12;
    align-items: center;
}
#about{
    grid-area: ab;
    grid-area: 1/17/4/20;
    align-items: center;
}
#a-about{
  text-decoration: none;
}

.navbar__menu li:hover {
    background-color: grey;
    transition: ease 1.2s all;
} 
#logo:hover{
  background-color: #E7E7EC;
  transition: ease 1.2s all;
}

/*Header section */

.header{
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(30px,auto);

}
.header h1{
    margin-top: 3pc;
    font-size: xx-large;
    display: flex;
    justify-self: center;
    grid-area: 1/1/1/1;
    color: #064487;
}
.header p{
    display: flex;
    justify-self: center;
    grid-area: 2/1/3/1;
    color: #064487;
    font-family: 'Roboto', sans-serif;
}




/*Search area*/



input[type=text] {
    justify-self: center;
    grid-area: 3/1/4/1;
    width: 500px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 40px;
    border: 2px solid #064487;
    padding-left: 20px;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:hover , input[type=text]:focus{
    width: 80%;
    justify-content: center;
  }


  /*hr*/
  #hr{margin-top: 100px;
      margin-right: 50px;
      margin-left: 50px;
      color: #064487;
  }


  
/*images*/

.products-imgs{
  /* padding-top: 100px;
    background-color:#E7E7EC ; */
    display: grid;
    justify-content: center;
    padding-left: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(30px,140px);
    margin-left: 100px;
    margin-right: 70px;
    margin-top: 80px;
    grid-gap: 30px;
   

}


/*Sliding Up*/
.container{
    position: relative;
  /*  height: 100%; */
    
}



.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    background-color: grey;
    overflow: hidden;
    width: 80%;
    height: 0;
    opacity: .8;
    transition: .5s ease;
    border-radius: 7px;
    border-radius: 7px;
    color: white;
  }
  
  .container:hover .overlay {
    height: 183px;
  }
  .text{
      font-size: x-large;
  }
 

/* animation*/
.img2{
  position: absolute;
  transform: translateY(150px);
  opacity: 1;
  transition: all 0.5s;
  width:80%;
  height: 183px;
  border-radius: 7px;
 
}

.fadeInBtm {
  transform: translateY(0px);
  opacity: 1;
}



.products-names{
  display: flex;
  justify-content: center;
  margin-right: 80px;
}






/* Footer*/
.page__footer{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    display: grid;
    padding:50px;
    grid-auto-columns:repeat(8 , 1fr) ;
    grid-template-rows: 40px 40px;
    grid-gap: 10px;
    background-color: #032A54;
    color: white;
    border-radius: 5px;

}

/*  #hr{
    grid-area: 1/1/2/8;
} */
#f{
  grid-area: 1/1/2/2;
    
}
#s{
  grid-area: 1/3/2/4;
  
}
#as,#at,#afu{
  text-decoration: none;
  color: white;
}
#t{
  grid-area: 1/4/2/5;
}
#fu{
  grid-area: 1/5/2/6;
}
#fv{
  grid-area: 1/6/2/7;
}
#sx{
  grid-area: 1/7/2/8;
}

#la{
  grid-area: 2/1/3/8;
}

#afu :hover{
  text-decoration: underline;
  transition: ease 30s all;
}
#as :hover{
  text-decoration: underline;
  transition: ease 30s all;
}
#at :hover{
  text-decoration: underline;
  transition: ease 30s all;
}

